<div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    Editor de Farmácias
                </nb-card-header>
                <nb-card-body>
                    <div class="row pesquisa">
                        <div class="input-group col-md-10">
                            <input #qPesquisa type="text" class="form-control" placeholder="Digite o nome ou código a ser pesquisado ([Enter] Pesquisa no nome ou principio ativo)" (keydown)="pesquisaNomeBarraBusca($event)">
                            <div class="dropdown input-group-btn" ngbDropdown>
                                <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle><i class="fa fa-search" style="color:white"></i> Pesquisa no Campo:</button>
                                <ul class="dropdown-menu" ngbDropdownMenu>
                                    <li class="dropdown-item" (click)='pesquisaNome(qPesquisa.value)'>Nome, email ou slug</li>
                                    <li class="dropdown-item" (click)='pesquisaCodigo(qPesquisa.value)'>CNPJ</li>
                                    <li class="dropdown-item" (click)='pesquisaCodigo(qPesquisa.value)'>ID do farmacia</li>
                                </ul>
                            </div>
                            <!-- span class="btn btn-success" (click)="deleteCupom(selObject)"><i class="fa fa-search" style="color:white"></i> Buscar Nome / Telefone Ativo</span -->
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-icon float-right novo" (click)="addNovoFarmacia()">
                      <i class="ion ion-android-add"></i> Novo
                    </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Farmacias Encontrados</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <ngb-pagination [collectionSize]="pgFarmacia.total" [(page)]="pgFarmacia.page" [pageSize]="pgFarmacia.limit" [maxSize]="3" [boundaryLinks]="true" (pageChange)="navigationChange($event)"></ngb-pagination>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-striped lista">
                                    <tbody>
                                        <tr *ngFor='let c of pgFarmacia.docs' (click)="selecionarObject(c)">
                                            <td width="1%"><i class="fa fa-angle-right bold" *ngIf='c._id === selObject?._id'></i></td>
                                            <td width="9%"><b>{{c.nome}}</b>
                                                <BR> <div class='lab'>CNPJ {{c.cnpj}}</div></td>
                                            <td width="1%" (click)="deleteObject(c)"><i class="fa fa-trash"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8 detalhe">
                            <form #f="ngForm" name="formFarmacia" (ngSubmit)="onSubmit(f,siteSelecionado)">
                                <h4>Detalhes do Farmacia:
                                    <BR> <span class="med"><b>{{selObject.nome}}</b></span>
                                    <BR> </h4>
    
    
                                <div class="form-group row">
                                    <div class="input-group col-md-6">
                                        <span class="input-group-text">ID:</span>
                                        <input #codigoFarmacia="ngModel" type="text" name="codigoFarmacia" id="codigoFarmacia" [(ngModel)]="selObject['_id']" placeholder="ID do farmacia" class="form-control" disabled="true">
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <div class="input-group col-md-6">
                                        <span class="input-group-text">CNPJ:</span>
                                        <input #cnpjFarmacia="ngModel" type="text" name="cnpjFarmacia" id="cnpjFarmacia" [(ngModel)]="selObject.cnpj" placeholder="CNPJ do farmacia" required pattern="\d\d[.]\d\d\d[.]\d\d\d[/]\d\d\d\d[-]\d\d" [class.form-control-danger]="cnpjFarmacia.invalid" class="form-control"
                                            mask="00.000.000/0000-00" [dropSpecialCharacters]="false">
                                    </div>
                                    <div class="input-group col-md-6">
                                        <span class="input-group-text">Telefone (Mobile):</span>
                                        <input #telefoneFarmacia="ngModel" type="text" name="telefoneFarmacia" id="telefoneFarmacia" [(ngModel)]="selObject.telefone" placeholder="Celular do farmacia (será usado no mobile)" required pattern="\d\d\w\d{7,9}" [class.form-control-danger]="telefoneFarmacia.invalid"
                                            class="form-control" specialCharacters="[ '(' ,'}','-','.' ]" mask="(00) 000000009">
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Nome:</span>
                                        <input #nomeFarmacia="ngModel" type="text" name="nomeFarmacia" id="nomeFarmacia" [(ngModel)]="selObject.nome" placeholder="Nome do farmacia" class="form-control" required [class.form-control-danger]="nomeFarmacia.invalid">
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Nome Fantasia:</span>
                                        <input #nomeFantasiaFarmacia="ngModel" type="text" name="nomeFantasiaFarmacia" id="nomeFantasiaFarmacia" [(ngModel)]="selObject.nomeFantasia" placeholder="Nome Fantasia da farmácia" class="form-control" required [class.form-control-danger]="nomeFantasiaFarmacia.invalid">
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">e-Mail:</span>
                                        <input #emailFarmacia="ngModel" type="text" name="emailFarmacia" id="emailFarmacia" [(ngModel)]="selObject.email" placeholder="e-mail do farmacia" class="form-control" required [class.form-control-danger]="emailFarmacia.invalid" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">CNAE:</span>
                                        <ng-select name="cNAECombo" [items]="cnaes | async" bindLabel="descricao" [multiple]="false" [hideSelected]="true" [(ngModel)]="selObject.cnae" class="form-control">
                                            <ng-template ng-option-tmp let-item="item">
                                                {{item.codigo}} - {{item.descricao}}
                                            </ng-template>
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.codigo}} - {{item.descricao}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Autorização (Número):</span>
                                        <input #numeroAutorizacaoFarmacia="ngModel" type="text" name="numeroAutorizacaoFarmacia" id="numeroAutorizacaoFarmacia" [(ngModel)]="selObject.numeroAutorizacao" placeholder="Número de Autorização de Funcionamento da farmacia" class="form-control" [class.form-control-danger]="numeroAutorizacaoFarmacia.invalid">
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Licença Funcionamento (Número):</span>
                                        <input #licencaFuncionamentoFarmacia="ngModel" type="text" name="licencaFuncionamentoFarmacia" id="licencaFuncionamentoFarmacia" [(ngModel)]="selObject.licencaFuncionamento" placeholder="Número de Autorização de Funcionamento da farmacia" class="form-control" [class.form-control-danger]="numeroAutorizacaoFarmacia.invalid">
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Inscrição Estadual (Número):</span>
                                        <input #inscricaoEstadualFarmacia="ngModel" type="text" name="inscricaoEstadualFarmacia" id="inscricaoEstadualFarmacia" [(ngModel)]="selObject.inscricaoEstadual" placeholder="Número de Autorização de Funcionamento da farmacia" class="form-control" [class.form-control-danger]="numeroAutorizacaoFarmacia.invalid">
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Endereço<BR>Telefone: </span>
                                        <div class="form-control">
                                            
                                            <div class="input-group tam-6">
                                                <span class="input-group-text">CEP:</span>
                                                <input #cepEndereco="ngModel" type="text" name="cepEndereco" id="cepEndereco" [(ngModel)]="selObject.endereco.cep" placeholder="Digite o CEP e o endereço se autocompletará" class="form-control" mask="00000-000" [dropSpecialCharacters]="false" pattern="\d\d\d\d\d[-]\d\d\d"
                                                    [class.form-control-danger]="cepEndereco.invalid" (keyup)="onKeyCEP($event,selObject.endereco)">
                                            </div>
    
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Logradouro:</span>
                                                <input #logradouroEndereco="ngModel" type="text" name="logradouroEndereco" id="logradouroEndereco" [(ngModel)]="selObject.endereco.logradouro" placeholder="Logradouro do Endereço" class="form-control">
                                            </div>
    
                                            <div class="input-group tam-5">
                                                <span class="input-group-text">Numero:</span>
                                                <input #numeroEndereco="ngModel" type="text" name="numeroEndereco" id="numeroEndereco" [(ngModel)]="selObject.endereco.numero" placeholder="Número do Endereço" class="form-control">
                                            </div>
    
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Complemento:</span>
                                                <input #complementoEndereco="ngModel" type="text" name="complementoEndereco" id="complementoEndereco" [(ngModel)]="selObject.endereco.complemento" placeholder="Complemento do Endereço" class="form-control">
                                            </div>
    
                                            <div class="input-group tam-8">
                                                <span class="input-group-text">Bairro:</span>
                                                <input #bairroEndereco="ngModel" type="text" name="bairroEndereco" id="bairroEndereco" [(ngModel)]="selObject.endereco.bairro" placeholder="Complemento do Endereço" class="form-control">
                                            </div>
    
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Cidade:</span>
                                                <input #cidadeEndereco="ngModel" type="text" name="cidadeEndereco" id="cidadeEndereco" [(ngModel)]="selObject.endereco.cidade" placeholder="Cidade do Endereço" class="form-control">
                                                <span class="input-group-text">UF:</span>
                                                <select #enderecoUF name="enderecoUF" id="enderecoUF" [(ngModel)]="selObject.endereco.uf" class="form-control mingua" placeholder="" style="max-width: 15% !important">
                                                        <option *ngFor='let u of ufs' [value]="u">{{u}}</option>
                                                    </select>
                                            </div>
    
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Telefones:</span>
                                                <ng-select name="telefones" [items]="[]" bindValue="label" bindLabel="label" [addTag]="true" [multiple]="true" [(ngModel)]="selObject.endereco.telefones" class="form-control">
                                                </ng-select>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="selObject.redesSociais">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Redes<BR>Sociais:</span>
                                        <div class="form-control">
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">LinkedIn:</span>
                                                <input #socialLinkedIn="ngModel" type="text" name="socialLinkedIn" id="socialLinkedIn" [(ngModel)]="selObject.redesSociais.linkedin" placeholder="Endereço do LinkedIn do Médico" class="form-control" rows="10">
                                            </div>
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Instagram:</span>
                                                <input #socialInstagram="ngModel" type="text" name="socialInstagram" id="socialInstagram" [(ngModel)]="selObject.redesSociais.instagram" placeholder="Endereço do Instagram do Médico" class="form-control" rows="10">
                                            </div>
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Facebook:</span>
                                                <input #socialFacebook="ngModel" type="text" name="socialFacebook" id="socialFacebook" [(ngModel)]="selObject.redesSociais.facebook" placeholder="Endereço do Facebook do Médico" class="form-control" rows="10">
                                            </div>
                                            <div class="input-group tam-12">
                                                <span class="input-group-text">Snapchat:</span>
                                                <input #socialSnapchat="ngModel" type="text" name="socialSnapchat" id="socialSnapchat" [(ngModel)]="selObject.redesSociais.snapchat" placeholder="Endereço do Snapchat do Médico" class="form-control" rows="10">
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-text">Equipe<BR>Farmácia: </span>
                                        <div class="form-control">
                                            <div *ngFor='let e of selObject.equipe; let i = index' class="espacar">
    
                                                <div class="input-group  tam-12">
                                                    <span class="form-control h2">Membro da Equipe {{i+1}}:</span>
                                                    <span class="input-group-append">
                                                            <button class="btn btn-danger input-group-text mais" (click)='deleteEquipe(a)' ><i class="fa fa-trash mais"></i></button>
                                                        </span>
                                                </div>
    
                                                <div class="input-group tam-6">
                                                    <span class="input-group-text">Função:</span>
                                                    <select #tipoEquipe name="tipoEquipe{{i}}" id="tipoEquipe{{i}}" [(ngModel)]="e.funcao" class="form-control mingua" placeholder="" style="max-width: 95% !important">
                                                        <option *ngFor='let t of tiposEquipe' [value]="t">{{t}}</option>
                                                    </select>
                                                </div>

                                                <div class="input-group tam-6">
                                                    <span class="input-group-text">CPF:</span>
                                                    <input #cpfEquipe="ngModel" type="text" name="cpfEquipe{{i}}" id="cpfEquipe{{i}}" [(ngModel)]="e.cpf" placeholder="CPF  do representante legal do paciente" required pattern="\d\d\d[.]\d\d\d[.]\d\d\d[-]\d\d" [class.form-control-danger]="cpfEquipe.invalid"
                                                        class="form-control" mask="000.000.000-00" [dropSpecialCharacters]="false">
                                                </div>
    
                                                <div class="input-group tam-6">
                                                    <span class="input-group-text">Celular:</span>
                                                    <input #celularEquipe="ngModel" type="text" name="celularEquipe{{i}}" id="celularEquipe{{i}}" [(ngModel)]="e.celular" placeholder="Celular do representante legal do paciente (será usado no mobile)" required pattern="\d\d\w\d{8,9}" [class.form-control-danger]="celularEquipe.invalid"
                                                        class="form-control" specialCharacters="[ '(' ,'}','-','.' ]" mask="(00) 000000009">
                                                </div>
    
                                                <div class="input-group tam-12">
                                                    <span class="input-group-text">Nome:</span>
                                                    <input #nomeEquipe="ngModel" type="text" name="nomeEquipe{{i}}" id="nomeEquipe{{i}}" [(ngModel)]="e.nome" placeholder="Nome do representante legal do paciente" class="form-control" required [class.form-control-danger]="nomeEquipe.invalid">
                                                </div>
    
                                                <div class="input-group tam-12">
                                                    <span class="input-group-text">E-Mail:</span>
                                                    <input #emailEquipe="ngModel" type="text" name="emailEquipe{{i}}" id="emailEquipe{{i}}" [(ngModel)]="e.email" placeholder="e-mail do representante legal do paciente" class="form-control" required [class.form-control-danger]="emailEquipe.invalid"
                                                        pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
                                                </div>
                                                <div class="input-group">
                                                        <span class="input-group-text">Identidade:</span>
                                                        <input #identidadeNumeroEquipe="ngModel" type="text" name="identidadeNumeroEquipe{{i}}" id="identidadeNumeroEquipe{{i}}" [(ngModel)]="e.identidade.numero" placeholder="Identidade do representante legal do paciente" required [class.form-control-danger]="identidadeNumeroEquipe.invalid" class="form-control">
                                                        <span class="input-group-text">Emissor:</span>
                                                        <select #identidadeEmissorEquipe name="identidadeEmissorEquipe{{i}}" id="identidadeEmissorEquipe{{i}}" [(ngModel)]="e.identidade.emissor" class="form-control mingua" placeholder="" style="max-width: 15% !important">
                                                                    <option *ngFor='let e of emissores' [value]="e">{{e}}</option>
                                                                </select>
                                                        <select #identidadeUFEquipe name="identidadeUFEquipe{{i}}" id="identidadeUFEquipe{{i}}" [(ngModel)]="e.identidade.uf" class="form-control mingua" placeholder="" style="max-width: 15% !important">
                                                                    <option *ngFor='let u of ufs' [value]="u">{{u}}</option>
                                                                </select>
                                                        <span class="input-group-text">Validade:</span>
                                                        <input #identidadeValidadeEquipe="ngModel" type="date" name="identidadeValidadeEquipe{{i}}" id="identidadeValidadeEquipe{{i}}" [ngModel]="e.identidade.validade | date:'yyyy-MM-dd'" placeholder="Data de emissão do paciente" class="form-control" (focusout)="selObject.identidade.validade = $event.target.value"
                                                            (ngModelChange)="retardChangeFieldidentidadeValidadeEquipe(i,$event.target.value, 700)">
                                                </div>
                                            </div>
    
                                            <div class="input-group  tam-12">
                                                <span class="form-control h2">Adicionar mais um representante legal ao paciente:</span>
                                                <span class="input-group-append dedo">
                                                        <span class="btn btn-success input-group-text mais dedo" (click)='adicionaEquipe()' ><i class="fa fa-plus mais"></i></span>
                                                </span>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>

    
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success float-right" (click)="salvarObject(f,selObject)"><i class="fa fa-save fa-2x" style="color:white"></i> Salvar Farmacia</button>
                                        <span class="btn btn-danger" (click)="deleteObject(selObject)"><i class="fa fa-trash fa-2x" style="color:white"></i> Deletar Farmacia</span>
                                    </div>
                                </div>
    
                            </form>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>