<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Editor de Especialidades do Sistema 
      </nb-card-header>
      <nb-card-body>
        <div class="row pesquisa">
          <div class="input-group col-md-10">
            <input #qPesquisa type="text" class="form-control" placeholder="Digite o nome ou código a ser pesquisado ([Enter] Pesquisa no nome ou principio ativo)" (keydown)="pesquisaNomeBarraBusca($event)" >
            <div class="dropdown input-group-btn" ngbDropdown>
              <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle><i class="fa fa-search" style="color:white"></i> Pesquisa no Campo:</button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item" (click)='pesquisaNome(qPesquisa.value)'>Descrição</li>
                <li class="dropdown-item" (click)='pesquisaCodigo(qPesquisa.value)'>Código</li>
                <li class="dropdown-item" (click)='pesquisaCodigo(qPesquisa.value)'>ID do usuário</li>
              </ul>
            </div>
            <!-- span class="btn btn-success" (click)="deleteCupom(selObject)"><i class="fa fa-search" style="color:white"></i> Buscar Nome / Scope Ativo</span -->
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-success btn-icon float-right novo" (click)="addNovoEspecialidade()">
                  <i class="ion ion-android-add"></i> Novo
                </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Especialidades Encontrados</h4>
            <div class="row">
              <div class="col-md-12">
                  <ngb-pagination [collectionSize]="pgEspecialidade.total" [(page)]="pgEspecialidade.page" [pageSize]="pgEspecialidade.limit" [maxSize]="3" [boundaryLinks]="true" (pageChange)="navigationChange($event)" ></ngb-pagination>
              </div>
            </div>
            <div class="row">
              <table  class="table table-striped lista" >
                <tbody>
                  <tr *ngFor='let c of pgEspecialidade.docs' (click)="selecionarObject(c)">
                    <td width="1%"><i class="fa fa-angle-right bold" *ngIf='c._id === selObject?._id' ></i></td>
                    <td width="9%"><b>{{c.descricao}}</b><BR><div class='lab'>({{c.codigo}})</div></td>
                    <td width="1%" (click)="deleteObject(c)" ><i class="fa fa-trash"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-8 detalhe">
            <form #f="ngForm" (ngSubmit)="onSubmit(f,siteSelecionado)">
              <h4>Detalhes do Especialidade:<BR> <span class="med"><b>{{selObject.descricao}}</b></span><BR> </h4>


              <div class="form-group row">
                <div class="input-group col-md-6">
                  <span class="input-group-text">ID:</span>
                  <input #idEspecialidade="ngModel" type="text" name="idEspecialidade" id="idEspecialidade" [(ngModel)]="selObject['_id']" placeholder="ID do usuário" class="form-control" disabled="true">
                </div>
              </div>


              <div class="form-group row">
                <div class="input-group col-md-6">
                  <span class="input-group-text">Código:</span>
                  <input #codigoEspecialidade="ngModel" type="text" name="codigoEspecialidade" id="codigoEspecialidade" [(ngModel)]="selObject.codigo" placeholder="Código do usuário" required [class.form-control-danger]="codigoEspecialidade.invalid" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <div class="input-group col-md-12">
                  <span class="input-group-text">Descricao:</span>
                  <input #nomeEspecialidade="ngModel" type="text" name="nomeEspecialidade" id="nomeEspecialidade" [(ngModel)]="selObject.descricao" placeholder="Nome do usuário" class="form-control" required [class.form-control-danger]="nomeEspecialidade.invalid">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-success float-right" (click)="salvarObject(f,selObject)"><i class="fa fa-save fa-2x" style="color:white"></i> Salvar Especialidade</button>
                  <span class="btn btn-danger" (click)="deleteObject(selObject)"><i class="fa fa-trash fa-2x" style="color:white"></i> Deletar Especialidade</span>
                </div>
              </div>
              
            </form>            
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
