.pesquisa {
    margin-bottom: 1em;
}

.lab {
    color: gray;
    font-size: .7em;
    margin-bottom: 5px;
    max-width: 100%;
    overflow: hidden;
}

span.med {
    font-size: 1.1em;
    color: brown;
}

::ng-deep .nb-theme-cosmic {
    span.med {
        font-size: 1.1em;
        color: chartreuse;
    }
}

i.mais {
    color: white !important;
}

button.btn.btn-success.dropdown-toggle.dropdown-toggle {
    height: 100%;
}

button.mais {
    height: calc(100%);
}

button.novo {
    color: white;
    text-transform: unset;
    i {
        color: white;
        margin-right: .5em;
    }
}

div.espacar {
    margin-bottom: 1.5em;
    padding-bottom: .5em;
    border-bottom: 2px dotted #dadfe6;
}

select.mingua {
    width: 50% !important;
}

.ng-select {
    padding: 0;
    padding-left: .5em;
    .ng-select-container {
        .ng-value-container {
            border-top: 0.4em solid transparent;
        }
    }
}

::ng-deep.ng-value-container {
   padding-top: .5em;
   padding-bottom: .25em;
   .ng-value {
        background-color: #4782fb;
        color: white;
        padding: .25em .5em .25em .5em;
        margin-right: .5rem;
        margin-bottom: .25em;
        .ng-value-icon {
            margin-right: .5em;
        }
        border-radius: .3em;
    }
}

::ng-deep .nb-theme-cosmic {
    .input-group-text {
        background-color: #4d4980;
        color: white;
        border: none;
    }
    .ng-value {
        background-color: #7659ff;
        color: white;
    }
}

.tam-3 {
    max-width: 25% !important;
}

.tam-4 {
    max-width: 33.333333333333333333333333333333% !important;
}

.tam-5 {
    max-width: 41.666666666666666666666666666666% !important;
}

.tam-6 {
    max-width: 50% !important;
}

.tam-8 {
    max-width: 66.666666666666666666666666666667% !important;
}

.tam-9 {
    max-width: 75% !important;
}

.tam-10 {
    max-width: 83.333333333333333333333333333333% !important;
}

.tam-12 {
    max-width: 100% !important;
}

span.h2 {
    border: none !important;
    background-color: #dadfe6 !important;
}

.dedo {
    cursor: pointer;
}

.btn {
    cursor: pointer !important;
}

button {
    // margin-bottom: .5em;
    cursor: pointer !important;
    // &.first-btn {
    // margin-top: -1.5em; 
    // }
    i {
        color: #8a7fff;
    }
}

table {
    .lista {
        table-layout: fixed;
    }
    margin-top: .5em;
    margin-bottom: .5em;
    tr {
        span.lab {
            color: gray;
            font-size: .7em;
            margin-bottom: 0px;
        }
        i {
            font-size: 1.5em;
            color: #8a7fff;
            &.bold {
                font-weight: bold;
            }
        }
        &:hover {
            cursor: pointer;
            background-color: peachpuff !important;
        }
    }
}

.detalhe {
    border-left: #909090 solid 2px;
}

.btn {
    cursor: pointer;
}

.btn-danger {
    cursor: pointer !important;
    i {
        cursor: pointer !important;
    }
}

select {
    width: 100% !important;
}

label {
    margin-top: auto;
    margin-bottom: auto;
}